@import "../components/card/card.css";
@import "../components/board/board.css";
@import "../components/deck/deck.css";
@import "../components/banner/banner.css";
@import "../components/leaderboard/leaderboard.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    appearance: none;
    text-align: inherit;
    border: none;
    background: none;
}

:root {
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    padding: 1em;
    background-image: radial-gradient( circle at 100% -20%,  rgba(255,255,255,20%) 0%, rgba(255,255,255,0%) 70% );
    --color: black;
    --card-width: min(8vw, 16vh);
    --card-ratio: 2.5/3.5;
    --card-height: calc(var(--card-width) / (var(--card-ratio)));
    min-height: 100vh;
    max-width: 100vw;
    color-scheme: dark;
}

body {
    gap: 1em;
    flex-wrap: wrap;
    align-items: flex-start;
}


@media screen and (orientation: portrait) {
    :root {
        --card-width: min(18vw, 10vh);
    }

    body {
        flex-direction: column;
    }
}

.container {
    display: flex;
}

.container-v {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container-h {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container-vh, .container-hv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.v-container {
    display: flex;
    flex-direction: column;
}

.v-container-v {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.v-container-h {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.v-container-vh, .v-container-hv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
