#banner {
    align-self: normal;
    gap: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &>h1 {
        text-align: center;
        font-size: 2rem;
        margin: 0;
    }
}

@media screen and (orientation: portrait) {
    #banner {
        &>h1 {
            display: none;
        }
    }
}
