#difficulty {
    text-shadow: 0 0 2px black;
    justify-content: space-around;
    padding: 1em;
    border-radius: 2em;
    background: rgba(255, 255, 255, 15%);
    border: 1px solid rgba(255, 255, 255, 25%);
    gap: 1em;
    min-height: 50vh;
    min-width: 50vw;


    &>button {
        text-shadow: 0 0 2px black;
        padding: 1em;
        border-radius: 2em;
        background: rgba(255, 255, 255, 25%);
        border: 1px solid rgba(255, 255, 255, 25%);
        gap: 1em;
        transition: scale 100ms ease-in;

        &:hover,
        &:focus {
            scale: 110%
        }
    }
}

:root:has(#difficulty) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (orientation: portrait) {
    #difficulty {
        min-width: 75vw;
    }
}
