<ul id="board" class='container-h'>
    <li class="v-container">
        <button disabled class="empty"></button>
    </li>
    <li class="v-container">
        <button disabled class="empty"></button>
    </li>
    <li class="v-container">
        <button disabled class="empty"></button>
    </li>
    <li class="v-container">
        <button disabled class="empty"></button>
    </li>
    <li class="v-container">
        <button disabled class="empty"></button>
    </li>
    <li class="v-container">
        <button disabled class="empty"></button>
    </li>
    <li class="v-container">
        <button disabled class="empty"></button>
    </li>
    <li class="v-container">
        <button disabled class="empty"></button>
    </li>
    <li class="v-container">
        <button disabled class="empty"></button>
    </li>
    <li class="v-container">
        <button disabled class="empty"></button>
    </li>
</ul>
