#board {
    gap: 1vw;

    &>* {
        min-width: var(--card-width);
        min-height: var(--card-height);

        &>button {
            --x-rotation: 0;
            --y-rotation: 0;

            &:focus-visible {
                outline: none;

                & .card::after,
                & .card {
                    outline: 1px solid white;
                }
            }

            &.collapsing {
                --transition-duration-ms: 1000ms;
                position: relative;
                transition: top calc(var(--transition-duration-ms)/2) ease-out, scale calc(var(--transition-duration-ms)/2) calc(var(--transition-duration-ms)/2) linear;
                pointer-events: none;
                top: 0;
                scale: 0;
            }

            &.empty {
                aspect-ratio: var(--card-ratio);
                background: rgba(255, 255, 255, 10%);
                border-radius: .5em;
            }

            &:focus,
            &:hover:not(:disabled) {
                scale: 105%;
                &>.card {
                    transform: rotateX(var(--x-rotation)) rotateY(var(--y-rotation));
                }

                &:not(:active) {
                    cursor: grab;
                }
            }

            &:disabled {
                cursor: no-drop;
            }

            &:active:not(:disabled) {
                cursor: grabbing;
            }
        }

        &>* {
            transition: scale 50ms ease-in;
            &:not(:first-child){
                margin-top: calc((var(--card-height) - var(--card-height) / 5) * -1);
            }
        }
    }
}

@media screen and (orientation: portrait) {
    #board {
        flex-wrap: wrap;

        &>.v-container {
            flex: 1 0 40%;
            flex-direction: row;

            &>* {
                &:not(:first-child){
                    margin-top: 0;
                    margin-left: calc(var(--card-width) * -.85);
                }
            }
        }
    }
}
